In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
df = pd.read_json('refugee-crisis-week02-sample1000.jsonl', lines = True, orient = 'columns')
df.to_csv('refugee-crisis-week02-sample1000.csv')

In [5]:
df.head()

,actor,body,favoritesCount,generator,geo,gnip,id,inReplyTo,link,location,...,objectType,postedTime,provider,retweetCount,twitter_entities,twitter_extended_entities,twitter_filter_level,twitter_lang,twitter_quoted_status,verb
0,"{'objectType': 'person', 'id': 'id:twitter.com...","No, these are belated responses against Muslim...",0,"{'displayName': 'Twitter Web Client', 'link': ...",NaN,"{'matching_rules': [{'tag': 'asylum', 'id': 22...","tag:search.twitter.com,2005:645002534361374720",NaN,http://twitter.com/sergeimirkat/statuses/64500...,NaN,...,activity,2015-09-18T22:32:42.000Z,"{'objectType': 'service', 'displayName': 'Twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",NaN,low,en,"{'id': 'tag:search.twitter.com,2005:6450003329...",post
1,"{'objectType': 'person', 'id': 'id:twitter.com...",RT @SoccerSt_: The refugee who was kicked by a...,0,"{'displayName': 'twitterfeed', 'link': 'http:/...",NaN,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:644649804014813184",NaN,http://twitter.com/OurJournalism/statuses/6446...,NaN,...,activity,2015-09-17T23:11:04.000Z,"{'objectType': 'service', 'displayName': 'Twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",NaN,low,en,NaN,post
2,"{'objectType': 'person', 'id': 'id:twitter.com...",To understand the demands of the 'Refugee Welc...,0,"{'displayName': 'Twitter for BlackBerry', 'lin...",NaN,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:644650622793445376",NaN,http://twitter.com/deola_O/statuses/6446506227...,NaN,...,activity,2015-09-17T23:14:20.000Z,"{'objectType': 'service', 'displayName': 'Twit...",0,"{'hashtags': [{'text': 'RefugeesWelcome', 'ind...","{'media': [{'id': 644650622520836096, 'id_str'...",low,en,NaN,post
3,"{'objectType': 'person', 'id': 'id:twitter.com...",Refugee crisis to test EU itself at summit of ...,0,"{'displayName': 'Google', 'link': 'http://www....",NaN,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:645583492315791360",NaN,http://twitter.com/TheAllRadar/statuses/645583...,NaN,...,activity,2015-09-20T13:01:13.000Z,"{'objectType': 'service', 'displayName': 'Twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",NaN,low,en,NaN,post
4,"{'objectType': 'person', 'id': 'id:twitter.com...",#News #Stocks RPT--U.N. refugee hunger-relief ...,0,"{'displayName': 'twitterfeed', 'link': 'http:/...",NaN,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:645584051928109057",NaN,http://twitter.com/Daily_Finances/statuses/645...,NaN,...,activity,2015-09-20T13:03:27.000Z,"{'objectType': 'service', 'displayName': 'Twit...",0,"{'hashtags': [{'text': 'News', 'indices': [0, ...",NaN,low,en,NaN,post

In [6]:
df = df.astype(str).apply(lambda x: x.str.lower())
df.head()

,actor,body,favoritesCount,generator,geo,gnip,id,inReplyTo,link,location,...,objectType,postedTime,provider,retweetCount,twitter_entities,twitter_extended_entities,twitter_filter_level,twitter_lang,twitter_quoted_status,verb
0,"{'objecttype': 'person', 'id': 'id:twitter.com...","no, these are belated responses against muslim...",0,"{'displayname': 'twitter web client', 'link': ...",nan,"{'matching_rules': [{'tag': 'asylum', 'id': 22...","tag:search.twitter.com,2005:645002534361374720",nan,http://twitter.com/sergeimirkat/statuses/64500...,nan,...,activity,2015-09-18t22:32:42.000z,"{'objecttype': 'service', 'displayname': 'twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",nan,low,en,"{'id': 'tag:search.twitter.com,2005:6450003329...",post
1,"{'objecttype': 'person', 'id': 'id:twitter.com...",rt @soccerst_: the refugee who was kicked by a...,0,"{'displayname': 'twitterfeed', 'link': 'http:/...",nan,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:644649804014813184",nan,http://twitter.com/ourjournalism/statuses/6446...,nan,...,activity,2015-09-17t23:11:04.000z,"{'objecttype': 'service', 'displayname': 'twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",nan,low,en,nan,post
2,"{'objecttype': 'person', 'id': 'id:twitter.com...",to understand the demands of the 'refugee welc...,0,"{'displayname': 'twitter for blackberry', 'lin...",nan,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:644650622793445376",nan,http://twitter.com/deola_o/statuses/6446506227...,nan,...,activity,2015-09-17t23:14:20.000z,"{'objecttype': 'service', 'displayname': 'twit...",0,"{'hashtags': [{'text': 'refugeeswelcome', 'ind...","{'media': [{'id': 644650622520836096, 'id_str'...",low,en,nan,post
3,"{'objecttype': 'person', 'id': 'id:twitter.com...",refugee crisis to test eu itself at summit of ...,0,"{'displayname': 'google', 'link': 'http://www....",nan,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:645583492315791360",nan,http://twitter.com/theallradar/statuses/645583...,nan,...,activity,2015-09-20t13:01:13.000z,"{'objecttype': 'service', 'displayname': 'twit...",0,"{'hashtags': [], 'trends': [], 'user_mentions'...",nan,low,en,nan,post
4,"{'objecttype': 'person', 'id': 'id:twitter.com...",#news #stocks rpt--u.n. refugee hunger-relief ...,0,"{'displayname': 'twitterfeed', 'link': 'http:/...",nan,"{'matching_rules': [{'tag': 'refugee', 'id': 7...","tag:search.twitter.com,2005:645584051928109057",nan,http://twitter.com/daily_finances/statuses/645...,nan,...,activity,2015-09-20t13:03:27.000z,"{'objecttype': 'service', 'displayname': 'twit...",0,"{'hashtags': [{'text': 'news', 'indices': [0, ...",nan,low,en,nan,post

In [7]:
df['twitter_lang'].value_counts()

en     927
fr      29
und      8
es       5
ja       5
de       5
it       4
in       2
pt       2
ro       2
et       1
ur       1
tr       1
lv       1
ar       1
cy       1
fa       1
da       1
nl       1
th       1
sl       1
Name: twitter_lang, dtype: int64

In [8]:
list(df)

['actor',
 'body',
 'favoritesCount',
 'generator',
 'geo',
 'gnip',
 'id',
 'inReplyTo',
 'link',
 'location',
 'object',
 'objectType',
 'postedTime',
 'provider',
 'retweetCount',
 'twitter_entities',
 'twitter_extended_entities',
 'twitter_filter_level',
 'twitter_lang',
 'twitter_quoted_status',
 'verb']

In [9]:
df_body = df['body']
df_body.head()

0    no, these are belated responses against muslim...
1    rt @soccerst_: the refugee who was kicked by a...
2    to understand the demands of the 'refugee welc...
3    refugee crisis to test eu itself at summit of ...
4    #news #stocks rpt--u.n. refugee hunger-relief ...
Name: body, dtype: object

In [10]:
r = df_body.str.count('refugee').value_counts()

r_total = df_body.str.contains('refugee').sum()

print("Total number of times 'refugee' appears in all week02 tweets: " + str(r_total))
print("\nNumber of times 'refugee' appears within a tweet: " + str(r))

Total number of times 'refugee' appears in all week02 tweets: 588

Number of times 'refugee' appears within a tweet: 1    522
0    412
2     66
Name: body, dtype: int64

In [11]:
a = df_body.str.count('asylum').value_counts()

a_total = df_body.str.contains('asylum').sum()

print("Total number of times 'asylum' appears in all week02 tweets: " + str(a_total))
print("\nNumber of times 'asylum' appears within a tweet: " + str(a))

Total number of times 'asylum' appears in all week02 tweets: 113

Number of times 'asylum' appears within a tweet: 0    887
1    111
2      2
Name: body, dtype: int64

In [12]:
m = df_body.str.count('migrant').value_counts()

m_total = df_body.str.contains('migrant').sum()

print("Total number of times 'migrant' appears in all week09 tweets: " + str(m_total))
print("\nNumber of times 'migrant' appears within a tweet: " + str(m))

Total number of times 'migrant' appears in all week09 tweets: 266

Number of times 'migrant' appears within a tweet: 0    734
1    245
2     19
3      2
Name: body, dtype: int64

In [15]:
timeVTweets = pd.crosstab(df['postedTime'],df['retweetCount'])

In [16]:
timeVTweets

retweetCount,0,1,10,100,1025,103,105,107,108,109,...,91,910,925,93,942,95,952,96,98,982
postedTime,,,,,,,,,,,,,,,,,,,,,
2015-09-15t00:04:25.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t00:44:58.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t00:46:01.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t00:48:59.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t01:04:46.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t01:06:12.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t01:13:52.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t01:55:43.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t01:58:31.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t02:11:16.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t02:35:37.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t02:39:47.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t02:57:36.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t03:00:07.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t03:26:50.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t03:51:17.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t03:53:59.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:14:12.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:26:08.000z,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:29:46.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:37:41.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:39:39.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t04:40:03.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t05:01:21.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t05:15:49.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t05:44:14.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t06:11:31.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t06:25:38.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t06:28:30.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-15t06:34:04.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-09-21t19:03:34.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t19:15:10.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t19:17:49.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t19:43:48.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t19:49:17.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:01:02.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:02:12.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:03:21.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:12:18.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:19:49.000z,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:23:54.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:26:06.000z,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:27:28.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:39:50.000z,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:40:15.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t20:43:19.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:07:33.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:08:13.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:08:50.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:09:13.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:27:57.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t21:50:37.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t22:12:44.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t22:24:24.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t22:35:53.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t22:55:17.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t23:32:14.000z,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t23:39:05.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t23:39:49.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-09-21t23:47:39.000z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0